html, body {
	height: 100%;
}

.centered {
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
	height: 100%;
}

.fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
}


.page-wrap {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	// top menu
	.header {
		background-color: $primary;
		border-color: $detail;

		.nav {
			width: 100%;
			height: 41px;

			.collapse {
				position: relative;
			}

			ul.menu {
				margin: 0px;

				li {
					display: inline-block;

					a {
						display: block;
						color: #999999;
						text-decoration: none;
						padding: 10px 10px;
					}
					a:hover {
						background-color: #c3c3c3;
						opacity: 0.3;
					}
				}
			}
		}
	}

	// page contents
	.content {
		height: 100%;
		.page {
			width: 100%;
			height: 100%;
			//background-color: red;
			margin-bottom: 10px;
			
			.banner {
				width: 100%;
				height: 100%;
				@include gradient(#000, #FFF);
			}
		}
	}

	.footer {

	}
}